h2 {
  margin-bottom: 5px;
}

pre {
  margin-top: 0;
  font-family: inherit;
}

.chessboard {
  border: 2px solid black;
}

.black, .white {
  width: 50px;
  height: 50px;
}

.white {
  background-color: white;
}

.black {
  background-color: grey;
}

.invisible {
  color: rgba(255, 0, 0, 0);
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
