* {
	box-sizing: border-box;
}

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e4e5e7;
	font-family: 'Montserrat', sans-serif;
}

select {
	width: 100%;
	height: 30px;
}

.hidden {
	display: none;
}

.main {
	width: 1100px;
	margin: 0 auto;
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.sidebar {
	width: 30%;
	padding: 20px;
	border-radius: 15px;
	background-color: #ffffff;
}

.content {
	position: relative;
	width: 60%;
}

.product_loader {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
}



.product_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.product_item {
	width: 30%;
	padding: 20px;
	border-radius: 15px;
	background-color: #ffffff;
	text-align: center;
	margin-bottom: 20px;
}

.product_image {
	width: 100%;
}